#contents {
    order: 1;
    flex: 4 1 auto;
    height: 78vh;
    overflow: hidden;
    background-color: #e6e6e6;
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

#contents.scroll {
    overflow: scroll;
}

/* Hide scrollbar for Chrome, Safari and Opera */
#contents::-webkit-scrollbar {
  display: none;
}

ul {
    list-style-type: none; /* Remove bullets */
    padding: 0; /* Remove padding */
    margin: 0; /* Remove margins */
  }
