/* dropdown , from https://www.w3schools.com/howto/howto_css_dropdown.asp */

.dropdown-content::before {
  z-index: -10;
  content: "";
  position: absolute;
  width: 3vw;
  height: 3vw;
  margin-left: 0;
  bottom: 0;
  top: -2vw;
  box-sizing: border-box;
  transform-origin: 0 0;
  transform: rotate(45deg);
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
  z-index: 20;
}

.dropdown-content::after {
  z-index: -99;
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  margin-left: 0;
  bottom: 0;
  top: 0;
  left: 0;
  box-sizing: border-box;
  display: none;
}

.dropdown-content {
  position: absolute;
  right: 1vw;
  background-color: white;
  border-radius: 3vw;
  font-size: 1rem;
  margin-top: -2vw;
}

/* Stuff inside the dropdown */
.dropdown-content > button {
  color: #555555;
  padding: 2vw 1vw;
  text-decoration: none;
  display: block;
  text-align: center;
  font-size: 1rem;
}

button.delete {
  color: red;
}

/* Copied from ListItem.css because these are now buttons not divs. */
button.bottom-line {
  border-bottom: 0.1vh solid #999999;
}