  /* The container <div> - needed to position the dropdown content */

  .dropdown-content.main-menu::before {
    background-color: white;
    right: 3.5vw;
  }

  .dropdown-content.main-menu {
  display: flex;
  flex-direction: column;
    background-color: white;
    min-width: 60vw;
    /* Change location of dropdown */
    right: -65vw; 
    top: -2vh;
  }

  #top_bar .dropdown #top-menu-icon {
    height: 9vh;
    margin-top: -1vh;
  }