.dropdown-content.sub-menu::before {
  background-color: #999999;
  right: 0;
}

.dropdown-content.sub-menu {
  min-width: 30vw;
  border: 0.1vh solid #999999;
  right: 1vw;
  top: 4vh;
  display: flex;
  flex-direction: column;
}

.poptop .dropdown-content.sub-menu {
  top: -19vh;
}

.poptop .dropdown-content.sub-menu::before {
  background-color: #999999;
  top: 27vw;
}

div.priority-adjust {
  display: flex;
  justify-content: space-around;
  padding: 2vw 1vw;
}

div.priority-adjust button {
  height: 1.5rem;
  text-align: center;
}

.activated {
  background-color: #999999;
  border-radius: 1vw;
}

/* Change color of dropdown links on hover */
/* .dropdown-content span:hover {background-color: #ddd;} */
