.tab-list {
    padding-left: 0;
    margin: 0;
    display: flex;
    justify-content: space-between;
    border: solid #999999;
    border-width: 0 0 2px 0;
}

.tab-list-item {
    display: inline-block;
    list-style: none;
    margin-bottom: -1px;
    padding: .5rem .5rem;
    border-width: 0;
    border-radius: 3vw 3vw 0 0;
    color: #494949;
}

.tab-list-active {
    border: solid #999999; 
    border-width: 2px 2px 0 2px;
}