.top_bar_icon_div {
  width: 50vw;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.top_bar_icon_div label {
  order: 1;
  font-size: 0.7rem;
  color: white;
  margin-top: 0.5vh;
}

button {
  border: none;
  background: none;
}
