#top_bar {
    order: 0;
    /* TODO: figure out why warning sign next to flex when in inspect mode  */
    background: #999999;
    padding: 1vh 0;
    height: 10vh;

    /* top bar's own flexbox */
    flex-direction: row;
    align-items: center;
    display: flex;
    justify-content: space-around;
    /* take up whole width */
    width: 100%;
}

#top_bar svg, #top_bar .dropdown{
    flex: 0 0 auto;
    height: 7vh;
    width: auto;
    fill: white;
}
